body{
  /* margin: 0 1rem; */
  margin: 0;
}
.bg{
  background-image: url(bg.png);
  background-size: cover;
  /* height: 100vh;
  width: 100vw; */
  /* margin: 0 4rem; */
  background-repeat: no-repeat;
  height: 100vh;
  overflow: visible;
}